In [9]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import math

#%matplotlib inline

In [10]:
events = pd.read_csv('data/calcularis_small_events.csv', encoding='latin', low_memory=False)
subtasks = pd.read_csv('data/calcularis_small_subtasks.csv', encoding='latin', low_memory=False)
users = pd.read_csv('data/calcularis_small_users.csv', encoding='latin', low_memory=False)

In [11]:
events.head(15)

,event_id,user_id,mode,game_name,learning_time_ms,number_range,start,end,skill_id,type
0,0,1,NORMAL,Subitizing,8835.0,R10,2022-11-02T08:39:12.355Z,2022-11-02T08:39:25.130Z,1.0,task
1,1,1,NORMAL,Conversion,21167.0,R10,2022-11-11T10:26:27.893Z,2022-11-11T10:26:49.260Z,4.0,task
2,2,1,NORMAL,Conversion,11182.0,R10,2022-11-18T10:34:01.044Z,2022-11-18T10:34:12.423Z,7.0,task
3,3,1,NORMAL,Landing,6823.0,R10,2022-11-25T10:32:43.428Z,2022-11-25T10:32:56.986Z,19.0,task
4,4,1,END_OF_NR,Conversion,9107.0,R10,2022-12-02T10:44:40.555Z,2022-12-02T10:44:49.874Z,7.0,task
5,5,1,END_OF_NR,Conversion,10703.0,R10,2022-12-09T10:12:16.068Z,2022-12-09T10:12:26.984Z,4.0,task
6,6,1,NORMAL,Comparison,1383.0,R20,2022-12-16T10:25:42.441Z,2022-12-16T10:25:45.508Z,33.0,task
7,7,1,END_OF_NR,Landing,6052.0,R20,2023-01-20T10:13:41.496Z,2023-01-20T10:13:49.096Z,50.0,task
8,8,1,END_OF_NR,Landing,6055.0,R20,2023-01-27T10:18:17.427Z,2023-01-27T10:18:26.356Z,49.0,task
9,9,1,END_OF_NR,Estimation on Number Line,10541.0,R20,2023-02-03T10:20:25.581Z,2023-02-03T10:20:38.687Z,39.0,task
10,10,1,END_OF_NR,Distance,16811.0,R20,2023-02-07T11:38:58.002Z,2023-02-07T11:39:17.950Z,45.0,task
11,11,1,END_OF_NR,Landing,6053.0,R20,2023-02-09T10:23:32.076Z,2023-02-09T10:23:39.868Z,50.0,task
12,12,2,NORMAL,Subitizing,4636.0,R10,2022-09-07T07:54:24.504Z,2022-09-07T07:55:21.124Z,1.0,task
13,13,2,NORMAL,Subitizing,3366.0,R10,2022-09-13T09:03:49.380Z,2022-09-13T09:03:56.020Z,1.0,task
14,14,2,NORMAL,Subitizing,4702.0,R10,2022-09-14T07:24:47.741Z,2022-09-14T07:24:55.085Z,1.0,task

In [12]:
subtasks.head(15)

,subtask_id,event_id,user_id,aim,answer,answerMode,availableNumbers,correct,correctAnswerObject,correctNumber,...,startPosition,subtask_finished_timestamp,target,timeoutInSeconds,timeoutInSteps,type,upperBound,divisor,orderIndependent,step
0,0,0,1,NaN,4,NaN,NaN,True,4,4.0,...,NaN,2022-11-02T08:39:24.930Z,NaN,NaN,NaN,ConciseSubitizingTaskDescription,NaN,NaN,NaN,NaN
1,1,0,1,NaN,1,NaN,NaN,True,NaN,NaN,...,NaN,2022-11-02T08:39:24.930Z,NaN,0.0,2.0,ConciseTimeoutDescription,NaN,NaN,NaN,NaN
2,2,1,1,NaN,3,NaN,NaN,True,3,NaN,...,NaN,2022-11-11T10:26:49.007Z,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN
3,3,2,1,NaN,5,NaN,NaN,True,5,NaN,...,NaN,2022-11-18T10:34:12.191Z,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN
4,4,3,1,3.0,"{'a': 2, 'b': 2.0402703}",NaN,NaN,False,"{'a': 3, 'b': 3.0}",NaN,...,0.5,2022-11-25T10:32:56.805Z,NaN,NaN,NaN,ConciseLandingTaskDescription,3.5,NaN,NaN,NaN
5,5,4,1,NaN,9,NaN,NaN,True,9,NaN,...,NaN,2022-12-02T10:44:49.621Z,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN
6,6,5,1,NaN,7,NaN,NaN,False,9,NaN,...,NaN,2022-12-09T10:12:26.729Z,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN
7,7,6,1,NaN,16,NaN,NaN,True,16,NaN,...,NaN,2022-12-16T10:25:45.293Z,NaN,NaN,NaN,ConciseSetComparisonTaskDescription,NaN,NaN,NaN,NaN
8,8,6,1,NaN,1.3659,NaN,NaN,True,NaN,NaN,...,NaN,2022-12-16T10:25:45.293Z,NaN,4.0,0.0,ConciseTimeoutDescription,NaN,NaN,NaN,NaN
9,9,7,1,4.0,"{'a': 4, 'b': 4.148817}",NaN,NaN,True,"{'a': 4, 'b': 4.0}",NaN,...,0.5,2023-01-20T10:13:48.879Z,NaN,NaN,NaN,ConciseLandingTaskDescription,5.0,NaN,NaN,NaN
10,10,8,1,6.0,"{'a': 7, 'b': 6.968209}",NaN,NaN,True,"{'a': 6, 'b': 6.0}",NaN,...,0.5,2023-01-27T10:18:26.175Z,NaN,NaN,NaN,ConciseLandingTaskDescription,7.0,NaN,NaN,NaN
11,11,9,1,NaN,13,NaN,NaN,True,13,NaN,...,NaN,2023-02-03T10:20:38.415Z,NaN,NaN,NaN,ConciseEstimationTaskDescription,NaN,NaN,NaN,NaN
12,12,10,1,NaN,"{'a': 8, 'b': 13}",NaN,NaN,False,"{'a': 8, 'b': 12}",NaN,...,NaN,2023-02-07T11:39:17.756Z,NaN,NaN,NaN,ConciseOrdinalityTaskDescription,NaN,NaN,NaN,NaN
13,13,11,1,11.0,"{'a': 11, 'b': 11.477892}",NaN,NaN,True,"{'a': 11, 'b': 11.0}",NaN,...,0.5,2023-02-09T10:23:39.649Z,NaN,NaN,NaN,ConciseLandingTaskDescription,12.0,NaN,NaN,NaN
14,14,12,2,NaN,1,NaN,NaN,True,1,1.0,...,NaN,2022-09-07T07:55:20.991Z,NaN,NaN,NaN,ConciseSubitizingTaskDescription,NaN,NaN,NaN,NaN

In [13]:
users.head(15)

,user_id,learning_time_ms,start,end,logged_in_time_ms,language,country
0,1,14032710,2022-11-02T08:37:56.549Z,2023-02-09T11:08:02.599Z,22151340,de,CH
1,2,16268350,2022-09-07T07:53:38.865Z,2023-02-09T08:39:14.692Z,85421273,nl,NL
2,3,8012030,2021-09-27T07:45:51.806Z,2022-01-13T12:14:09.565Z,16651482,de,DE
3,4,1414421,2019-11-12T12:18:15.724Z,2020-10-02T09:20:28.798Z,4561768,de,CH
4,5,17502108,2022-04-26T11:38:44.114Z,2022-08-29T15:52:11.087Z,25601470,de,CH
5,6,8353125,2022-09-02T07:27:20.675Z,2023-02-01T10:35:15.218Z,19249399,nl,NL
6,7,7226229,2015-03-19T18:47:32.621Z,2015-05-29T18:17:32.889Z,9225357,NaN,NaN
7,8,64629753,2021-08-23T09:04:32.478Z,2022-06-20T12:13:06.081Z,125236245,de,CH
8,9,7647781,2019-08-20T17:02:06.155Z,2020-03-08T14:08:06.321Z,9089877,de,DE
9,10,22569161,2017-08-30T06:27:19.365Z,2021-07-08T14:09:17.450Z,33642991,de,NaN
10,11,190525,2015-05-18T07:07:41.143Z,2016-09-01T17:26:40.007Z,3037981,de,NaN
11,12,14194844,2020-04-03T15:30:18.573Z,2020-09-24T08:53:11.378Z,25910399,de,CH
12,13,880193,2022-10-18T20:33:14.044Z,2022-10-18T20:53:07.434Z,1193389,fr,CA
13,14,39935928,2021-08-13T07:24:25.301Z,2022-06-28T09:00:07.691Z,88997711,de,CH
14,15,45490997,2020-03-28T11:59:52.681Z,2021-02-22T13:30:44.704Z,68277226,de,CH

In [17]:
# add the game_name of the events dataframe to the subtasks dataframe given the event_id
subtasks = subtasks.merge(events[['event_id', 'game_name']], on='event_id', how='left')
subtasks

,subtask_id,event_id,user_id,aim,answer,answerMode,availableNumbers,correct,correctAnswerObject,correctNumber,...,subtask_finished_timestamp,target,timeoutInSeconds,timeoutInSteps,type,upperBound,divisor,orderIndependent,step,game_name
0,0,0,1,NaN,4,NaN,NaN,True,4,4.0,...,2022-11-02T08:39:24.930Z,NaN,NaN,NaN,ConciseSubitizingTaskDescription,NaN,NaN,NaN,NaN,Subitizing
1,1,0,1,NaN,1,NaN,NaN,True,NaN,NaN,...,2022-11-02T08:39:24.930Z,NaN,0.0,2.0,ConciseTimeoutDescription,NaN,NaN,NaN,NaN,Subitizing
2,2,1,1,NaN,3,NaN,NaN,True,3,NaN,...,2022-11-11T10:26:49.007Z,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN,Conversion
3,3,2,1,NaN,5,NaN,NaN,True,5,NaN,...,2022-11-18T10:34:12.191Z,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN,Conversion
4,4,3,1,3.0,"{'a': 2, 'b': 2.0402703}",NaN,NaN,False,"{'a': 3, 'b': 3.0}",NaN,...,2022-11-25T10:32:56.805Z,NaN,NaN,NaN,ConciseLandingTaskDescription,3.5,NaN,NaN,NaN,Landing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55042,55042,37415,998,46.0,"{'a': 47, 'b': 47.33128}",NaN,NaN,True,"{'a': 46, 'b': 46.0}",NaN,...,2021-01-06T14:14:46.133Z,NaN,NaN,NaN,ConciseLandingTaskDescription,50.0,NaN,NaN,NaN,Landing
55043,55043,37417,1000,NaN,1,NaN,NaN,False,3,3.0,...,2019-09-30T10:04:58.024Z,NaN,NaN,NaN,ConciseSubitizingTaskDescription,NaN,NaN,NaN,NaN,Subitizing
55044,55044,37417,1000,NaN,2,NaN,NaN,True,NaN,NaN,...,2019-09-30T10:04:58.024Z,NaN,0.0,2.0,ConciseTimeoutDescription,NaN,NaN,NaN,NaN,Subitizing
55045,55045,37418,1000,NaN,3,NaN,NaN,True,3,NaN,...,2020-01-20T10:03:51.556Z,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN,Conversion
55046,55046,37419,1000,NaN,10,NaN,NaN,True,10,NaN,...,2020-02-24T10:06:32.121Z,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN,Conversion

In [22]:
# add a column skill to the subtasks dataframe given the game_name 
subtasks['skill'] = subtasks['game_name'].apply(lambda x: 'Number representation' if x in ['Subitizing', 'Conversion', 'Estimation', 'Estimation on Number Line', 'Scale: Conversion', 'Landing'] else 'Number comparison/manipulation' if x in ['Comparison', 'Secret Number', 'Distance', 'Scale: Composition', 'Order'] else 'Addition/Substraction' if x in ['Scale: Decomposition', 'Scale: Subtraction', 'Scale: Subtraction by Tens and Ones', 'Sliderule', 'Plus-minus', 'Difference', 'Completion', 'Calculator'] else 'Multiplication/Division' if x in ['Write as multiplication', 'Shelf: Jump Ahead', 'Shelf: given height', 'Shelf: random height', 'Distribution', 'Calculator: Multiplication', 'Calculator: Multiplication with ?', 'Calculator: Division', 'Jump backwards', 'Series'] else 'Other')
subtasks

,subtask_id,event_id,user_id,aim,answer,answerMode,availableNumbers,correct,correctAnswerObject,correctNumber,...,target,timeoutInSeconds,timeoutInSteps,type,upperBound,divisor,orderIndependent,step,game_name,skill
0,0,0,1,NaN,4,NaN,NaN,True,4,4.0,...,NaN,NaN,NaN,ConciseSubitizingTaskDescription,NaN,NaN,NaN,NaN,Subitizing,Number representation
1,1,0,1,NaN,1,NaN,NaN,True,NaN,NaN,...,NaN,0.0,2.0,ConciseTimeoutDescription,NaN,NaN,NaN,NaN,Subitizing,Number representation
2,2,1,1,NaN,3,NaN,NaN,True,3,NaN,...,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN,Conversion,Number representation
3,3,2,1,NaN,5,NaN,NaN,True,5,NaN,...,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN,Conversion,Number representation
4,4,3,1,3.0,"{'a': 2, 'b': 2.0402703}",NaN,NaN,False,"{'a': 3, 'b': 3.0}",NaN,...,NaN,NaN,NaN,ConciseLandingTaskDescription,3.5,NaN,NaN,NaN,Landing,Number representation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55042,55042,37415,998,46.0,"{'a': 47, 'b': 47.33128}",NaN,NaN,True,"{'a': 46, 'b': 46.0}",NaN,...,NaN,NaN,NaN,ConciseLandingTaskDescription,50.0,NaN,NaN,NaN,Landing,Number representation
55043,55043,37417,1000,NaN,1,NaN,NaN,False,3,3.0,...,NaN,NaN,NaN,ConciseSubitizingTaskDescription,NaN,NaN,NaN,NaN,Subitizing,Number representation
55044,55044,37417,1000,NaN,2,NaN,NaN,True,NaN,NaN,...,NaN,0.0,2.0,ConciseTimeoutDescription,NaN,NaN,NaN,NaN,Subitizing,Number representation
55045,55045,37418,1000,NaN,3,NaN,NaN,True,3,NaN,...,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN,Conversion,Number representation
55046,55046,37419,1000,NaN,10,NaN,NaN,True,10,NaN,...,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN,Conversion,Number representation