In [1]:
# Import the tables of the data set as dataframes.

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

DATA_DIR = './data'

# You can use the nrows=X argument in pd.read_csv to truncate your data
users = pd.read_csv('{}/calcularis_small_users.csv'.format(DATA_DIR), index_col=0)
events = pd.read_csv('{}/calcularis_small_events.csv'.format(DATA_DIR), index_col=0)
subtasks = pd.read_csv('{}/calcularis_small_subtasks.csv'.format(DATA_DIR), index_col=0)

#users = pd.read_csv('{}/full_calcularis_users.csv'.format(DATA_DIR), index_col=0)
#events = pd.read_csv('{}/full_calcularis_events.csv'.format(DATA_DIR), index_col=0)
#subtasks = pd.read_csv('{}/full_calcularis_subtasks.csv'.format(DATA_DIR), index_col=0)

In [2]:
users.head(5)

,learning_time_ms,start,end,logged_in_time_ms,language,country
user_id,,,,,,
1,14032710,2022-11-02T08:37:56.549Z,2023-02-09T11:08:02.599Z,22151340,de,CH
2,16268350,2022-09-07T07:53:38.865Z,2023-02-09T08:39:14.692Z,85421273,nl,NL
3,8012030,2021-09-27T07:45:51.806Z,2022-01-13T12:14:09.565Z,16651482,de,DE
4,1414421,2019-11-12T12:18:15.724Z,2020-10-02T09:20:28.798Z,4561768,de,CH
5,17502108,2022-04-26T11:38:44.114Z,2022-08-29T15:52:11.087Z,25601470,de,CH

In [3]:
events.head(5)

,user_id,mode,game_name,learning_time_ms,number_range,start,end,skill_id,type
event_id,,,,,,,,,
0,1,NORMAL,Subitizing,8835.0,R10,2022-11-02T08:39:12.355Z,2022-11-02T08:39:25.130Z,1.0,task
1,1,NORMAL,Conversion,21167.0,R10,2022-11-11T10:26:27.893Z,2022-11-11T10:26:49.260Z,4.0,task
2,1,NORMAL,Conversion,11182.0,R10,2022-11-18T10:34:01.044Z,2022-11-18T10:34:12.423Z,7.0,task
3,1,NORMAL,Landing,6823.0,R10,2022-11-25T10:32:43.428Z,2022-11-25T10:32:56.986Z,19.0,task
4,1,END_OF_NR,Conversion,9107.0,R10,2022-12-02T10:44:40.555Z,2022-12-02T10:44:49.874Z,7.0,task

In [4]:
subtasks.head()

,event_id,user_id,aim,answer,answerMode,availableNumbers,correct,correctAnswerObject,correctNumber,destination,...,startPosition,subtask_finished_timestamp,target,timeoutInSeconds,timeoutInSteps,type,upperBound,divisor,orderIndependent,step
subtask_id,,,,,,,,,,,,,,,,,,,,,
0,0,1,NaN,4,NaN,NaN,True,4,4.0,NaN,...,NaN,2022-11-02T08:39:24.930Z,NaN,NaN,NaN,ConciseSubitizingTaskDescription,NaN,NaN,NaN,NaN
1,0,1,NaN,1,NaN,NaN,True,NaN,NaN,NaN,...,NaN,2022-11-02T08:39:24.930Z,NaN,0.0,2.0,ConciseTimeoutDescription,NaN,NaN,NaN,NaN
2,1,1,NaN,3,NaN,NaN,True,3,NaN,ARABIC,...,NaN,2022-11-11T10:26:49.007Z,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN
3,2,1,NaN,5,NaN,NaN,True,5,NaN,EXPLODED_BEAM,...,NaN,2022-11-18T10:34:12.191Z,NaN,NaN,NaN,ConciseConversionTaskDescription,NaN,NaN,NaN,NaN
4,3,1,3.0,"{'a': 2, 'b': 2.0402703}",NaN,NaN,False,"{'a': 3, 'b': 3.0}",NaN,NaN,...,0.5,2022-11-25T10:32:56.805Z,NaN,NaN,NaN,ConciseLandingTaskDescription,3.5,NaN,NaN,NaN

In [5]:
#associate game to skill

skill = events.game_name
skill.where((skill != 'Subitizing') &
            (skill != 'Conversion') &
            (skill != 'Estimation on Number Line') &
            (skill != 'Estimation') &
            (skill != 'Scale: Conversion') &
            (skill != 'Landing'), 'Number representation', inplace = True)
skill.where((skill != 'Comparison') &
            (skill != 'Secret Number') &
            (skill != 'Distance') &
            (skill != 'Scale: Composition') &
            (skill != 'Order'), 'Number comparison/manipulation', inplace = True)
skill.where((skill != 'Scale: Decomposition') &
            (skill != 'Scale: Subtraction') &
            (skill != 'Scale: Subtraction by Tens and Ones') &
            (skill != 'Sliderule') &
            (skill != 'Plus-minus') &
            (skill != 'Difference') &
            (skill != 'Completion') &
            (skill != 'Calculator'), 'Addition/Substraction', inplace = True)
skill.where((skill != 'Write as multiplication') &
            (skill != 'Shelf: Jump Ahead') &
            (skill != 'Shelf: given height') &
            (skill != 'Shelf: random height') &
            (skill != 'Distribution') &
            (skill != 'Calculator: Multiplication') &
            (skill != 'Calculator: Multiplication with ?') &
            (skill != 'Calculator: Division') &
            (skill != 'Jump backwards') &
            (skill != 'Series'), 'Multiplication/Division', inplace = True)
#add skill column to events table
events['skill'] = skill

In [6]:
events.head(5)

,user_id,mode,game_name,learning_time_ms,number_range,start,end,skill_id,type,skill
event_id,,,,,,,,,,
0,1,NORMAL,Number representation,8835.0,R10,2022-11-02T08:39:12.355Z,2022-11-02T08:39:25.130Z,1.0,task,Number representation
1,1,NORMAL,Number representation,21167.0,R10,2022-11-11T10:26:27.893Z,2022-11-11T10:26:49.260Z,4.0,task,Number representation
2,1,NORMAL,Number representation,11182.0,R10,2022-11-18T10:34:01.044Z,2022-11-18T10:34:12.423Z,7.0,task,Number representation
3,1,NORMAL,Number representation,6823.0,R10,2022-11-25T10:32:43.428Z,2022-11-25T10:32:56.986Z,19.0,task,Number representation
4,1,END_OF_NR,Number representation,9107.0,R10,2022-12-02T10:44:40.555Z,2022-12-02T10:44:49.874Z,7.0,task,Number representation

In [8]:
subtasks["event_id"]
#display(subtasks.apply(lambda x : events[x["event_id"]]["skill"]))

subtask_id
0            0
1            0
2            1
3            2
4            3
         ...
55042    37415
55043    37417
55044    37417
55045    37418
55046    37419
Name: event_id, Length: 55047, dtype: int64

In [12]:
#creation of features dataframe

df = subtasks.groupby(["user_id", "week"])["event_id"].nunique().to_frame()
df.columns = ['num_events']
df["num_questions"] = subtasks.groupby(["user_id", "week"]).size()
df["%_correct"] = subtasks.groupby(["user_id", "week"])["correct"].sum()/subtasks.groupby(["user_id", "week"]).size()*100
df["number_of_unique games"] = events[events["type"]=="task"].groupby(["user_id", "week"])["game_name"].nunique()
df["most_frequent_nb_range"] = subtasks.groupby(["user_id", "week"])["range"].apply(lambda x: x.value_counts().idxmax())
df["Nb_representation_%_correct"] = events[events["type"]=="task"].groupby(["user_id", "week"]).apply(lambda x:np.sum(x[x['skill']=='Number representation']["num_correct"]))/events[events["type"]=="task"].groupby(["user_id", "week"]).apply(lambda x:np.sum(x[x['skill']=='Number representation']["num_questions"]))*100



#events[events["type"]=="task"].groupby(["user_id", "week"]).apply(lambda x:print(x[x['skill']=='Number representation']["correct"]))



df.reset_index(inplace=True)
display(df)

,user_id,week,num_events,num_questions,%_correct,number_of_unique games,most_frequent_nb_range,Nb_representation_%_correct
0,1,0.0,1,2,100.0,1,R10,100.0
1,1,1.0,1,1,100.0,1,R10,100.0
2,1,2.0,1,1,100.0,1,R10,100.0
3,1,3.0,1,1,0.0,1,R10,0.0
4,1,4.0,1,1,100.0,1,R10,100.0
...,...,...,...,...,...,...,...,...
10917,998,15.0,1,1,100.0,1,R100,100.0
10918,998,20.0,1,1,100.0,1,R100,100.0
10919,1000,0.0,1,2,50.0,1,R10,50.0
10920,1000,16.0,1,1,100.0,1,R10,100.0
10921,1000,21.0,1,1,100.0,1,R10,100.0

In [ ]:
#df["num_shop"] = events.groupby(["user_id", "week"]).apply(lambda x: (x["type"] == "ZOO").sum())

KeyError: 'game_name'